<div id="app">
  {{ turnList[turn] }}のターン
  <table>
    <tr v-for="(columns, row) in board">
      <td v-for="(value, column) in columns">
        <button @click="putStone(row, column, turnList[turn])">{{ value }}</button>
      </td>
    </tr>
  </table>
  <table>
    <tr v-for="r in board">
  </table>
  <button @click="skipTurn">スキップする</button>
</div>
<script type="text/javascript">
  var app = new Vue({
    el: '#app',
    data: {
      turnList: {
        1: '●',
        2: '○',
      },
      turn: '',
      targetStone: (this.turn === 1) ? '●' : '○',
      board: []
    },
    created () {
      this.fetchTurn();
      this.fetchBoard();
    },
    methods: {
      /**
       * ターンをスキップする
       */
      skipTurn() {
        this.turn = ( this.turn === 1 ) ? 2 : 1;
        this.sendTurn(this.turn);
        this.targetStone = ( this.targetStone === '●' ) ? '○' : '●';
      },

      /**
       * ターンの同期
       */
      fetchTurn() {
        google.script.run.withSuccessHandler((fetchTurn) => {
          this.turn = fetchTurn;
          this.targetStone = (this.turn === 1) ? '○' : '●';
        }).withFailureHandler((error) => {
          console.log(error);
        }).sendFetchTurn();
      },

      /**
       * ターンを更新
       */
      sendTurn() {
        google.script.run.withSuccessHandler().withFailureHandler((error) => {
          console.log(error);
        }).sendUpdateTurn(this.turn);
        },

      /**
       * 盤面の同期
       */
      fetchBoard() {
        google.script.run.withSuccessHandler((fetchBoard) => {
          this.board = fetchBoard;
          this.initBoard();
        }).withFailureHandler((error) => {
          console.log(error);
        }).sendFetchBoard();
      },

      /**
       * 盤面の初期化
       */
      initBoard() {
        const initStonePositionList = [
          {row:3, column:3, stone: '○'},
          {row:3, column:4, stone: '●'},
          {row:4, column:3, stone: '●'},
          {row:4, column:4, stone: '○'}
        ];

        if (this.board[4][4] === '　') {
          for (const key in initStonePositionList) {
            const initStone = initStonePositionList[key];
            google.script.run.withSuccessHandler(() => {
            }).withFailureHandler((error) => {
              console.log(error);
            }).sendPutStone(initStone['row'], initStone['column'], initStone['stone']);
          }
          this.fetchBoard();
        }
      },

      /**
       * 石を置く
       *
       * @param row
       * @param column
       * @param stone
       */
      putStone(row, column, stone) {
        if (this.puttableStone(parseInt(row), parseInt(column), stone) === false) {
          return;
        }
        this.board[row][column] = stone;

        this.executeTurn(row, column);

        google.script.run.withSuccessHandler(() => {
          this.turn = ( this.turn === 1 ) ? 2 : 1;
          this.sendTurn(this.turn);
          this.targetStone = ( this.targetStone === '●' ) ? '○' : '●';
          this.fetchBoard();
        }).withFailureHandler((error) => {
          console.log(error);
        }).sendWriteBoard(this.board);

        // ジャッジ処理
        if (this.isFinished() === true) {
          alert("終了");
        }
      },
      /**
       * 終了判定
       */
      isFinished() {
        // 全部同じ色で埋まってるか
        const counter = this.countStones();
        if (counter["1"] === 0 || counter["2"] === 0) {
          return true;
        }
        if (counter["1"] + counter["2"] >= 64) {
          return true;
        }
        return false;
      },

      /**
       * 盤面の石の数をカウント
       */
      countStones() {
        let counter = {
          1: 0,
          2: 0,
        };
        for(const key in this.board) {
          for (const key2 in this.board[key]) {
            switch (this.board[key][key2]) {
              case '○':
                counter["1"] += 1;
                break;
              case '●':
                counter["2"] += 1;
                break;

              default:
                break;
            }
          }
        }
        return counter;
      },

      /**
       * 石置けるかどうか
       *
       * @param row
       * @param column
       * @param stone
       * @returns {boolean}
       */
      puttableStone(row, column, stone) {
        // 既においてあったら置けない
        if (this.board[row][column] === '●' || this.board[row][column] === '○') {
          alert("既においてあるわ");
          return false;
        }
        // 周りに自分以外の色なければおけない
        if (this.existTargetStoneAround(row, column) === false) {
          alert("周りにおけるところないわ");
          return false;
        }
        return true;
      },

      /**
       * 周りの石をひっくり返す
       *
       * @param row
       * @param column
       */
      executeTurn(row, column) {
        const turnTarget = this.getTurnTarget(row, column);
        for (const key in turnTarget) {
          const target = turnTarget[key];
          this.board[target.row][target.column] = this.turnList[this.turn];
        }
      },

      /**
       * ひっくり返す対象を取得
       *
       * @param row
       * @param column
       * @returns {Array}
       */
      getTurnTarget(row, column) {
        let turnTarget = [];
        // 上下左右
        turnTarget = this.getTurnTargetListLeft(row, column);
        turnTarget = turnTarget.concat(this.getTurnTargetListRight(row, column));
        turnTarget = turnTarget.concat(this.getTurnTargetListDown(row, column));
        turnTarget = turnTarget.concat(this.getTurnTargetListUp(row, column));

        // 斜め
        turnTarget = turnTarget.concat(this.getTurnTargetListSlantingUpperLeft(row, column));
        turnTarget = turnTarget.concat(this.getTurnTargetListSlantingDownLeft(row, column));
        turnTarget = turnTarget.concat(this.getTurnTargetListSlantingUpperRight(row, column));
        turnTarget = turnTarget.concat(this.getTurnTargetListSlantingDownRight(row, column));

        return turnTarget;
      },

      /**
       * ひっくり返す対象があるかどうか
       *
       * @param row
       * @param column
       * @returns {boolean}
       */
      existTargetStoneAround(row, column) {
        const turnTarget = this.getTurnTarget(row, column);
        return (turnTarget.length !== 0);
      },
      /**
       * 左側の石でひっくり返せるやつを取得
       *
       * @param row
       * @param column
       * @returns {Array}
       */
      getTurnTargetListLeft(row, column) {
        let turnTarget = [];
        for (let i = column - 1; i >= 0; i--) {
          if (this.board[row][i] === '　') {
            return [];
          }
          if (this.board[row][i] !== this.targetStone) {
            return turnTarget;
          }
          turnTarget = turnTarget.concat({
            row: row,
            column: i
          });
        }
        return [];
      },
      /**
       * 右側の石でひっくり返せるやつを取得
       *
       * @param row
       * @param column
       * @returns {Array}
       */
      getTurnTargetListRight(row, column) {
        let turnTarget = [];
        for (let i = column + 1; i < 8; i++) {
          if (this.board[row][i] === '　') {
            return [];
          }
          if (this.board[row][i] !== this.targetStone) {
            return turnTarget;
          }
          turnTarget = turnTarget.concat({
            row: row,
            column: i
          });
        }
        return [];
      },
      /**
       * 上側の石でひっくり返せるやつを取得
       *
       * @param row
       * @param column
       * @returns {Array}
       */
      getTurnTargetListUp(row, column) {
        let turnTarget = [];
        for (let j = row - 1; j >= 0; j--) {
          if (this.board[j][column] === '　') {
            return [];
          }
          if (this.board[j][column] !== this.targetStone) {
            return turnTarget;
          }
          turnTarget = turnTarget.concat({
            row: j,
            column: column
          });
        }
        return [];
      },
      /**
       * 下側の石でひっくり返せるやつを取得
       *
       * @param row
       * @param column
       * @returns {Array}
       */
      getTurnTargetListDown(row, column) {
        let turnTarget = [];
        for (let j = row + 1; j < 8; j++) {
          if (this.board[j][column] === '　') {
            return [];
          }
          if (this.board[j][column] !== this.targetStone) {
            return turnTarget;
          }
          turnTarget = turnTarget.concat({
            row: j,
            column: column
          });
        }
        return [];
      },
      /**
       * 左上側の石でひっくり返せるやつを取得
       *
       * @param row
       * @param column
       * @returns {Array}
       */
      getTurnTargetListSlantingUpperLeft(row, column) {
        let turnTarget = [];
        let j = row;
        for (let i = column - 1; i >= 0; i--) {
          j--;
          if (j < 0) {
            return [];
          }

          if (this.board[j][i] === '　') {
            return [];
          }

          if (this.board[j][i] !== this.targetStone) {
            return turnTarget;
          }
          turnTarget = turnTarget.concat({
            row: j,
            column: i
          });
        }
        return [];
      },
      /**
       * 左下側の石でひっくり返せるやつを取得
       *
       * @param row
       * @param column
       * @returns {Array}
       */
      getTurnTargetListSlantingDownLeft(row, column) {
        let turnTarget = [];
        let j = row;
        for (let i = column - 1; i >= 0; i--) {
          j++;
          if (j >= 8) {
            return [];
          }
          if (this.board[j][i] === '　') {
            return [];
          }
          if (this.board[j][i] !== this.targetStone) {
            return turnTarget;
          }
          turnTarget = turnTarget.concat({
            row: j,
            column: i
          });
        }
        return [];
      },
      /**
       * 右上側の石でひっくり返せるやつを取得
       *
       * @param row
       * @param column
       * @returns {Array}
       */
      getTurnTargetListSlantingUpperRight(row, column) {
        let turnTarget = [];
        let j = row;
        for (let i = column + 1; i < 8; i++) {
          j--;
          if (j < 0) {
            return [];
          }
          if (this.board[j][i] === '　') {
            return [];
          }
          if (this.board[j][i] !== this.targetStone) {
            return turnTarget;
          }
          turnTarget = turnTarget.concat({
            row: j,
            column: i
          });
        }
        return [];
      },
      /**
       * 右下側の石でひっくり返せるやつを取得
       *
       * @param row
       * @param column
       * @returns {Array}
       */
      getTurnTargetListSlantingDownRight(row, column) {
        let turnTarget = [];
        let j = row;
        for (let i = column + 1; i < 8; i++) {
          j++;
          if (j >= 8) {
            return [];
          }
          if (this.board[j][i] === '　') {
            return [];
          }
          if (this.board[j][i] !== this.targetStone) {
            return turnTarget;
          }
          turnTarget = turnTarget.concat({
            row: j,
            column: i
          });
        }
        return [];
      }
    }
  })
</script>