<!DOCTYPE html>
<html>
<head>
  <base target="_top">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>
<body>
<div id="app">
  {{ ternList[tern] }}のターン({{ tern }})
  <table>
    <tr v-for="(columns, row) in board">
      <td v-for="(value, column) in columns">
        <button @click="putStone(row, column, ternList[tern])">{{ value }}</button>
      </td>
    </tr>
  </table>

  <table>
    <tr v-for="r in board">
  </table>
</div>
<script type="text/javascript">
  var app = new Vue({
    el: '#app',
    data: {
      ternList: {
        1: '●',
        2: '○',
      },
      tern: 1,
      board: []
    },
    created () {
      this.fetchBoard();
    },
    methods: {
      fetchBoard() {
        google.script.run.withSuccessHandler((fetchBoard) => {
          this.board = fetchBoard;
          this.initBoard();
        }).withFailureHandler((error) => {
          console.log(error);
        }).sendFetchBoard();
      },
      initBoard() {
        const initStonePositionList = [
          {row:3, column:3, stone: '○'},
          {row:3, column:4, stone: '●'},
          {row:4, column:3, stone: '●'},
          {row:4, column:4, stone: '○'}
        ];

        if (this.board[4][4] === '　') {
          for (const key in initStonePositionList) {
            const initStone = initStonePositionList[key];
            google.script.run.withSuccessHandler(() => {
            }).withFailureHandler((error) => {
              console.log(error);
            }).sendPutStone(initStone['row'], initStone['column'], initStone['stone']);
          }
          this.fetchBoard();
        }
      },
      putStone(row, column, stone) {
        if (this.puttableStone(parseInt(row), parseInt(column), stone) === false) {
          alert("置けません");
          return;
        }
        this.board[row][column] = stone;

        console.log(this.board);

        // todo 盤面の他の石をひっくり返す
        google.script.run.withSuccessHandler(() => {
          this.tern = ( this.tern === 1 ) ? 2 : 1;
          this.fetchBoard();
        }).withFailureHandler((error) => {
            console.log(error);
        }).sendWriteBoard(this.board);
      },
      puttableStone(row, column, stone) {
        // 既においてあったら置けない
        if (this.board[row][column] === '●' || this.board[row][column] === '○') {
          alert("既においてあるわ");
          return false;
        }
        // 周りに自分以外の色なければおけない
        if (this.existTargetStoneAround(row, column) === false) {
          alert("周りに石ないわ");
          return false;
        }
        // todo 実装
        return true;
      },
      existTargetStoneAround(row, column) {
        let turnTarget = [];
        turnTarget = this.getTurnTargetListLeft(row, column);
        turnTarget = turnTarget.concat(this.getTurnTargetListRight(row, column));
        turnTarget = turnTarget.concat(this.getTurnTargetListDown(row, column));
        turnTarget = turnTarget.concat(this.getTurnTargetListUp(row, column));

        console.log(turnTarget);

        return false;
      },
      // ひだり見ていく
      getTurnTargetListLeft(row, column) {
        const targetStone = ( this.tern === 1 ) ? '○' : '●';
        let turnTarget = [];
        for (let i = column - 1; i > 0; i--) {
          if (this.board[row][i] === '　') {
            return [];
          }
          if (this.board[row][i] !== targetStone) {
            return turnTarget;
          }
          turnTarget = turnTarget.concat({
            row: row,
            column: i
          });
        }
        return turnTarget;
      },
      // みぎ見ていく
      getTurnTargetListRight(row, column) {
        const targetStone = ( this.tern === 1 ) ? '○' : '●';
        let turnTarget = [];
        for (let i = column + 1; i < 8; i++) {
          if (this.board[row][i] === '　') {
            return [];
          }
          if (this.board[row][i] !== targetStone) {
            return turnTarget;
          }
          turnTarget = turnTarget.concat({
            row: row,
            column: i
          });
        }
        return turnTarget;
      },
      // うえ見ていく
      getTurnTargetListUp(row, column) {
        const targetStone = ( this.tern === 1 ) ? '○' : '●';
        let turnTarget = [];
        for (let j = row - 1; j > 0; j--) {
          if (this.board[j][column] === '　') {
            return [];
          }
          if (this.board[j][column] !== targetStone) {
            return turnTarget;
          }
          turnTarget = turnTarget.concat({
            row: j,
            column: column
          });
        }
        return turnTarget;
      },
      // した見ていく
      getTurnTargetListDown(row, column) {
        const targetStone = ( this.tern === 1 ) ? '○' : '●';
        let turnTarget = [];
        for (let j = row + 1; j < 8; j++) {
          if (this.board[j][column] === '　') {
            return [];
          }
          if (this.board[j][column] !== targetStone) {
            return turnTarget;
          }
          turnTarget = turnTarget.concat({
            row: j,
            column: column
          });
        }
        return turnTarget;
      }
    }
  })
</script>
</body>
</html>


